@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./fonts/noto-sans-sc/index.scss');

:root {
  --site-header-height: 56px;
  --site-tab-bar-height: 46px;

  --site-background: '#f5f5f7';
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    'NotoSansSC',
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  @apply transition;
}

a:hover {
  @apply text-blue-500;
}

.bg-dot-grid {
  --site-bg-size: 20px;
  --site-radial-color: #ceced2;
  background-size: var(--site-bg-size) var(--site-bg-size);
  background-image: radial-gradient(var(--site-radial-color) 1px, transparent 1px);
}

.dark .bg-dot-grid {
  --site-radial-color: #52525b;
}
